<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestSignup</servlet-name>
        <servlet-class>mypackage.TestSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLogin</servlet-name>
        <servlet-class>mypackage.TestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestForget</servlet-name>
        <servlet-class>mypackage.TestForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestChangePassword</servlet-name>
        <servlet-class>mypackage.TestChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOOAD2018</servlet-name>
        <servlet-class>mypackage.TestOOAD2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOOAD2017</servlet-name>
        <servlet-class>mypackage.TestOOAD2017</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOOAD2016</servlet-name>
        <servlet-class>mypackage.TestOOAD2016</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPPL2018</servlet-name>
        <servlet-class>mypackage.TestPPL2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPPL2017</servlet-name>
        <servlet-class>mypackage.TestPPL2017</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPPL2016</servlet-name>
        <servlet-class>mypackage.TestPPL2016</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSWE2018</servlet-name>
        <servlet-class>mypackage.TestSWE2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSWE2017</servlet-name>
        <servlet-class>mypackage.TestSWE2017</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSWE2016</servlet-name>
        <servlet-class>mypackage.TestSWE2016</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestFLAT2018</servlet-name>
        <servlet-class>mypackage.TestFLAT2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestFLAT2017</servlet-name>
        <servlet-class>mypackage.TestFLAT2017</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestFLAT2016</servlet-name>
        <servlet-class>mypackage.TestFLAT2016</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestWADD2018</servlet-name>
        <servlet-class>mypackage.TestWADD2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestCD2016</servlet-name>
        <servlet-class>mypackage.TestCD2016</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestWADD2015</servlet-name>
        <servlet-class>mypackage.TestWADD2015</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestIEA2018</servlet-name>
        <servlet-class>mypackage.TestIEA2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestIEA2016</servlet-name>
        <servlet-class>mypackage.TestIEA2016</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSignup</servlet-name>
        <url-pattern>/TestSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLogin</servlet-name>
        <url-pattern>/TestLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestForget</servlet-name>
        <url-pattern>/TestForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestChangePassword</servlet-name>
        <url-pattern>/TestChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOOAD2018</servlet-name>
        <url-pattern>/TestOOAD2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOOAD2017</servlet-name>
        <url-pattern>/TestOOAD2017</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOOAD2016</servlet-name>
        <url-pattern>/TestOOAD2016</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPPL2018</servlet-name>
        <url-pattern>/TestPPL2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPPL2017</servlet-name>
        <url-pattern>/TestPPL2017</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPPL2016</servlet-name>
        <url-pattern>/TestPPL2016</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSWE2018</servlet-name>
        <url-pattern>/TestSWE2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSWE2017</servlet-name>
        <url-pattern>/TestSWE2017</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSWE2016</servlet-name>
        <url-pattern>/TestSWE2016</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestFLAT2018</servlet-name>
        <url-pattern>/TestFLAT2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestFLAT2017</servlet-name>
        <url-pattern>/TestFLAT2017</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestFLAT2016</servlet-name>
        <url-pattern>/TestFLAT2016</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestWADD2018</servlet-name>
        <url-pattern>/TestWADD2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestCD2016</servlet-name>
        <url-pattern>/TestCD2016</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestWADD2015</servlet-name>
        <url-pattern>/TestWADD2015</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestIEA2018</servlet-name>
        <url-pattern>/TestIEA2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestIEA2016</servlet-name>
        <url-pattern>/TestIEA2016</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
